@import url("https://fonts.googleapis.com/css2?family=Kumbh+Sans:wght@300;400;700&display=swap");
body {
  background-color: #19A1AE;
  max-height: 100vh;
  overflow: hidden; }

.bg-pattern {
  width: auto;
  height: 100%; }

.bg-pattern__top {
  position: absolute;
  transform: translate(-50%, -50%);
  right: 24%;
  top: 7%; }

.bg-pattern__bottom {
  position: absolute;
  left: 80%;
  bottom: 0;
  transform: translate(-50%, 50%); }

.card {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  z-index: 999;
  background-color: #fff;
  height: 374px;
  width: 350px;
  border-radius: 15px;
  overflow: hidden;
  -webkit-box-shadow: 0 4px 4px 0 rgba(0, 0, 0, 0.25);
  box-shadow: 0 4px 4px 0 rgba(0, 0, 0, 0.25);
  font-family: 'Kumbh Sans', sans-serif; }

.c-header {
  height: 140px;
  width: 350px;
  background-image: url(../images/bg-pattern-card.svg); }

.c-body {
  position: relative;
  top: -29.9%;
  left: 0; }

.c-avatar {
  height: 100px;
  width: 100px;
  background-color: #fff;
  position: relative;
  left: 50%;
  bottom: 25%;
  transform: translate(-50%, 50%);
  z-index: 2;
  border-radius: 50%;
  padding: 5px; }

.c-avatar--img {
  height: 100%;
  width: 100%;
  border-radius: 50%; }

.c-person {
  text-align: center;
  color: #6B7082;
  padding: 72px 105px 24px 105px; }

.c-person--name {
  font-weight: 700;
  color: #2E3349;
  font-size: 18px;
  display: inline-block;
  margin: 12px 12px 12px 0; }

.c-person--location {
  font-size: 14px; }

.c-stats {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  -webkit-box-direction: row;
  -ms-flex-direction: row;
  flex-direction: row;
  border-top: 1px solid #E8E9EC;
  padding: 24px 48px; }

.c-stat {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  -webkit-box-direction: column;
  -ms-flex-direction: column;
  flex-direction: column;
  width: 33%; }

.c-stat--count {
  font-size: 18px;
  color: #2E3349;
  font-weight: 700; }

.c-stat--name {
  font-size: 10px;
  color: #6B7082;
  letter-spacing: 1.5px; }

@media screen and (max-width: 480px) {
  .bg-pattern__top {
    transform: none;
    right: 25%;
    top: -50%; }
  .bg-pattern__bottom {
    left: 120%; } }
