/* -----------------
       Imports
------------------- */

// Fonts

@import url('https://fonts.googleapis.com/css2?family=Kumbh+Sans:wght@300;400;700&display=swap');

// Styles

@import 'reset';

/* ------------------
        Variables
--------------------*/

// Colors

$white: #fff;
$black: #000;

$primary: #19A1AE;

$text-dark: #2E3349;
$text-light: #6B7082;

$grey-light: rgba(0, 0, 0, 0.25);
$grey-medium: #E8E9EC;

// Whitespace

$spacer: 1rem;

/* --------------------
        Mixins
----------------------*/


@mixin flex($justify, $align, $direction) {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: $justify;
    -ms-flex-pack: $justify;
    justify-content: $justify;
    -webkit-box-align: $align;
    -ms-flex-align: $align;
    align-items: $align;
    -webkit-box-direction: $direction;
    -ms-flex-direction: $direction;
    flex-direction: $direction;
}

@mixin box-shadow {
    -webkit-box-shadow: 0 4px 4px 0 $grey-light;
    box-shadow: 0 4px 4px 0 $grey-light;
}

@mixin border($my-color) {
    border: 1px solid $my-color;
}

/* -----------------------
        Base Styles
------------------------*/

body {
    background-color: $primary;
    min-height: 100vh;
    height: 100%;
}

/* ----------------------
        Card
------------------------*/

.card {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    z-index: 999;
    background-color: $white;
    height: 374px;
    width: 350px;
    border-radius: 15px;
    overflow: hidden;
    @include box-shadow()
    font-family: 'Kumbh Sans', sans-serif;
}

.c-img {
    content: " ";
    display: block;
    height: 140px;
    width: 350px;
    background-image: url(../images/bg-pattern-card.svg);
    background-repeat: no-repeat;
    background-size: cover;
}

.c-avatar {
    height: 96px;
    width: 96px;
    background-color: $white;
    position: relative;
    left: 175px;
    top: 0;
    transform: translate(-50%, -50%);
    z-index: 2;
    border-radius: 50%;
    padding: 5px;
}

.c-avatar--img {
    height: 100%;
    width: 100%;
    border-radius: 50%;
}

.c-header {
    position: relative;
    bottom: 33.5px;
    left: 0;
    padding: 0 105px;
    text-align: center;
}

.c-header__person {
    color: $text-light;
    font-weight: 700;
    color: $text-dark;
    font-size: 18px;
    margin-bottom: 8px;
}

.c-header__person--age {
    color: $text-light;
    font-weight: 400;
}

.c-header__location {
    font-size: 14px;
    margin-bottom: 32px;
    color: $text-light;
}


.c-stats {
    border-top: 1px solid $grey-medium;
    padding: 28px 48px 24px 48px;
    position: relative;
    left: 0;
    bottom: 33px;

    dl {
        @include flex(space-around, center, row)
        text-align: center;
    }
}

.c-stat {
    @include flex(center, center, column)
}

.c-stat--count {
    font-size: 18px;
    color: $text-dark;
    font-weight: 700;
    margin-bottom: 9px;
}

.c-stat--name {
    font-size: 10px;
    color: $text-light;
    letter-spacing: 1.5px;
}

@media screen and (max-width: 480px) {
}